[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
numpy = "*"
spacy = "*"
nltk = "*"
arabic-stopwords = "*"
langdetect = "*"
scikit-learn = "*"
iso639-lang = "*"

[dev-packages]

[requires]
python_version = "3.11"
