[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
numpy = "*"
spacy = "*"
nltk = "*"
arabic-stopwords = "*"
langdetect = "*"
scikit-learn = "*"
iso639-lang = "*"
scrapy = "*"
scrapy-fake-useragent = "*"
django = "*"
validators = "*"
asgiref = "*"
djangorestframework = "*"
django-filter = "*"
django-rest-knox = "*"
celery = "*"
redis = "*"
django-celery-results = "*"
django-celery-beat = "*"
markdown = "*"
django-redis = "*"
psycopg2 = "*"
drf-yasg = "*"
python-dotenv = "*"
drf-excel = "*"
humanize = "*"
django-extensions = "*"
pygraphviz = "*"
django-debug-toolbar = "*"
tblib = "*"
django-prometheus = "*"
django-silk = "*"
django-cors-headers = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
